
body {
    background-image: url("../images/zelda-background.png");
}

#banner {
    text-align: center;
    background-image: url("../images/gplaypattern.png");
    padding-bottom: 10px;
    margin-top: 10px;
    border: solid 2px gold;
}

h1 {
    font-size: 48px;
    color: #cc0000;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #0d9263;
    font-weight: bold;
}

#instructions {
    background-image: url("../images/gplaypattern.png");
    text-align: center;
    margin-top: 10px;
    padding: 20px 20px 10px 20px;
    border: solid 2px gold;
}

#game {
    margin-top: 10px;
}

#random-number {
    background-color: #c8c8c8;
    text-align: center;
    border: solid 2px gold;
    height: 110px;
}

#your-score {
    background-color: #c8c8c8;
    text-align: center;
    border: solid 2px gold;
    height: 110px;
}

#wins-losses {
    background-color: #c8c8c8;
    text-align: center;
    padding-bottom: 0px;
    border: solid 2px gold;
    height: 110px;
}

#four-rupees {
    margin-top: 10px;
    margin-bottom: 10px;
}

#rupee-box {
    background-image: url("../images/gplaypattern.png");
    overflow: hidden;
    height: 250px;
    padding: 0;
    border: solid 2px gold;
}

.rupee {
    position: relative;
    height: 100%;
    width: 100%;
}